
Hello World/obj/project.nuget.cache
Hello World/obj/Hello World.csproj.nuget.dgspec.json
Hello World/obj/Debug/net8.0/Hello World.GeneratedMSBuildEditorConfig.editorconfig
Hello World/obj/Debug/net8.0/Hello World.assets.cache
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfoInputs.cache
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfo.cs
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfo.cs
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfoInputs.cache
