
*.sln
*.csproj
*.cache
*.editorconfig
*.json
*.props
*.targets
Hello World/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfo.cs
Hello World/obj/Debug/net8.0/Hello World.GlobalUsings.g.cs
Tutorial 1.2/obj/Debug/net8.0/Tutorial 1.2.GlobalUsings.g.cs
Tutorial 1.2/obj/Debug/net8.0/Tutorial 1.2.AssemblyInfo.cs
Tutorial 1.2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
