
Hello World.sln
Hello World/Hello World.csproj
Hello World/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfo.cs
Hello World/obj/Debug/net8.0/Hello World.AssemblyInfoInputs.cache
Hello World/obj/Debug/net8.0/Hello World.GeneratedMSBuildEditorConfig.editorconfig
Hello World/obj/Debug/net8.0/Hello World.GlobalUsings.g.cs
Hello World/obj/Hello World.csproj.nuget.dgspec.json
Hello World/obj/Hello World.csproj.nuget.g.props
Hello World/obj/Hello World.csproj.nuget.g.targets
Hello World/obj/project.assets.json
Hello World/obj/project.nuget.cache
Hello World/obj/Debug/net8.0/Hello World.assets.cache
